@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    color: #333;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.top {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.title > * {
    margin: 0;
    padding: 0.25rem;
}

.title h1 {
    font-weight: 900;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.choices > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2.5rem;
}

.choices button {
    margin-top: 1rem;
    padding: 0.5rem;
    border: none;
    background-color: #3498db;
    border-radius: 8px;
    line-height: normal;
    outline: none;
    font-weight: 700;
}

.choices button:hover {
    background-color: #2980b9;
    cursor: pointer;
}

.logic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hands {
    display: flex;
    flex-direction: row;
}

.hands > * {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.results {
    margin: 1rem;
}

.scores {
    display: flex;
}

.scores > * {
    margin: 1rem;
}

.blue {
    color: #3498db;
    font-weight: 700;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    position: sticky;
    width: 100%;
    padding: 1rem;
}